* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 4fr 5fr 1fr;
  grid-gap: 4%;
}

/* Header */

.header {
  background-color: #0a232a;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 8px;
  padding: 8px;
}

.header .bar {
  background-color: #19596b;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-gap: 8px;
  padding: 8px;
}

.header .bar .logo, .header .bar .menu, 
.header .bar .social {
  background-color: #e66852; 
}

.header .hero {
  background-color: #f0a038;
  display: grid;
  grid-template: 1fr;
  padding: 8px;
}

.header .hero .hero-content {
  background-color: #eece77;
}

/* Main */

.main {
  background-color: #0a232a;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 8px;
  padding: 8px;
}

.main .topics {
  background-color: #494e74;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 8px;
  padding: 8px;
}

.main .topics .topics-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

.main .topics .topics-wrapper .category {
  background-color: #6391c5;
}

.main .topics .search {
  background-color: #7eb1b9;
}

.main .aside {
  background-color: #db354b;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-gap: 8px;
  padding: 8px; 
}

.main .aside .news {
  background-color: #fffd8b;  
}

/* Footer */

.footer {
  background-color: #0a232a;
  display: grid;
  grid-template: 1fr;
  padding: 8px;
}

.footer .copyright {
  background-color: #eeda81;
}

/* MEDIA QUERIES */

/* TABLET */
@media(max-width: 700px) {
  
  .main {
    background-color: #e9ff25;
  }

  .main .topics {
    grid-column: span 2;
  }

  .main .aside {
    grid-column: span 2;
  }

}

/* PHONES */
@media(max-width: 400px) {
  .main {
    background-color: #ff25f4;
  }

  .main .topics {
    grid-column: span 2;
  }

  .main .aside {
    grid-column: span 2;
  }
}